Repository 0xZaddyy/corepc, changes with the labels that .github/labeler.yml gives for each.
All labels: C-client, C-integration_test, C-jsonrpc, C-node, C-types, C-verify

.github/labeler.yml:

C-client:
  - changed-files:
      - any-glob-to-any-file: client/**
C-integration_test:
  - changed-files:
      - any-glob-to-any-file: integration_test/**
C-jsonrpc:
  - changed-files:
      - any-glob-to-any-file: jsonrpc/**
C-node:
  - changed-files:
      - any-glob-to-any-file: node/**
C-types:
  - changed-files:
      - any-glob-to-any-file: types/**
C-verify:
  - changed-files:
      - any-glob-to-any-file: verify/**

word changed
  node/src/lib.rs
Labels: C-node

cleared path errors
  .github/workflows/manage-pr.yml
Labels: none

made changes
  .github/workflows/manage-pr.yml
  contrib/gen-label_config.sh
Labels: none

Update manage-pr.yml
  .github/workflows/manage-pr.yml
Labels: none

made edit in some file
  .github/workflows/manage-pr.yml
Labels: none

changes are done
  node/src/lib.rs
Labels: C-node

changes to lib
  node/src/lib.rs
Labels: C-node

model: represent optional index-like fields as u32
  types/src/model/blockchain.rs
  types/src/model/raw_transactions.rs
  types/src/model/wallet.rs
  types/src/v17/blockchain/mod.rs
  types/src/v17/raw_transactions/mod.rs
  types/src/v17/wallet/mod.rs
Labels: C-types

chore(verify): fix Clippy lints and enforce clean build
  Cargo.toml
  verify/src/main.rs
  verify/src/versioned.rs
Labels: C-verify

add patch/path to integration-test & verify
  Cargo.toml
Labels: none

fix: add trailing newline to dismiss-stale-approvals.yml
  .github/workflows/dismiss-stale-approvals.yml
Labels: none

test(integration): fix clippy warnings
  integration_test/tests/blockchain.rs
  integration_test/tests/mining.rs
  integration_test/tests/network.rs
  integration_test/tests/raw_transactions.rs
  integration_test/tests/util.rs
  integration_test/tests/wallet.rs
Labels: C-integration_test
